.profile {
	max-width: 100%;
	display: flex;
	row-gap: 15px;
	flex-direction: column;
	&__posts {
		&-heading {
			background: rgba(255, 255, 255, 0.1);
			box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
			backdrop-filter: blur(2px);
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			border-bottom: 2px solid rgba(255, 255, 255, 0.1);
			padding: 30px;
		}
		&-list {
			display: flex;
			flex-direction: column;
			row-gap: 15px;
			background: rgba(255, 255, 255, 0.1);
			box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
			backdrop-filter: blur(2px);
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		}
		&-popover {
			&-list {
				display: flex;
				flex-direction: column;
				row-gap: 10px;
			}
			&-item {
				padding: 4px 3px;
				font-size: 15px;
				border-radius: 4px;
				cursor: pointer;
				display: flex;
				column-gap: 10px;
				align-items: center;
				&:hover {
					background: rgba(255, 255, 255, 0.1);
					box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
					backdrop-filter: blur(2px);
					border-radius: 8px;
				}
			}
		}
		&-item {
			display: flex;
			width: 100%;
			flex-direction: column;
			column-gap: 15px;
			position: relative;
			padding: 10px;
			&-line {
				background: rgba(255, 255, 255, 0.1);
				height: 2px;
				width: 100%;
			}
			&-block {
				display: flex;
				column-gap: 15px;
			}
			&-info {
				display: flex;
				flex-direction: column;
			}
			&-top {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			&-text {
				margin: 10px 0;
				font-size: 15px;
			}
			&-name {
				font-size: 15px;
				color: $blue;
				font-weight: 800;
			}
			&-date {
				font-size: 12px;
				color: $grey;
				font-weight: 400;
			}
			&-avatar {
				border-radius: 50%;
				width: 40px;
				object-fit: cover;
				height: 40px;
				cursor: pointer;
			}
		}
	}
	&__left {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		width: 60%;
	}
	&__row {
		display: flex;
		column-gap: 30px;
		width: 100%;
	}
	&__right {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		width: 40%;
	}
	&__friends {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		width: 100%;
		background: rgba(255, 255, 255, 0.1);
		box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
		backdrop-filter: blur(2px);
		border-radius: 8px;
		padding: 30px;
	}
	&__addPosts {
		width: 100%;
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.1);
		box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
		backdrop-filter: blur(1000px);
		padding: 30px;
		position: relative;
		z-index: 1;
		&-emojiPicker {
			position: absolute;
			top: 5px;
			right: 5px;
			z-index: 2;
		}
		&-top {
			position: relative;
			border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		}
		&-bottom {
			padding-top: 15px;
			display: flex;
			justify-content: end;
		}
		&-textarea {
			padding: 5px;
			background: none;
			resize: none;
			width: 95%;
			height: 100px;
			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-track {
				background-color: transparent;
				border-radius: 10px;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background: rgba(255, 255, 255, 0.1);
			}
		}
		&-emojiIcon {
			cursor: pointer;
			position: absolute;
			top: 15px;
			right: 15px;
			font-size: 20px;
		}
	}
	&__popover {
		padding: 15px;
		&-grey {
			color: $grey;
			font-size: 13px;
		}
		&-blue {
			color: $blue;
			font-size: 13px;
		}
		&-list {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
		&-title {
			border-bottom: #424242 1px solid;
			width: 100%;
			height: 100%;
			color: $grey;
			margin-bottom: 10px;
			padding-bottom: 10px;
			font-weight: 600;
		}
		&-item {
			display: flex;
			align-items: center;
			column-gap: 5px;

			font-weight: 400;
		}
	}
	&__info {
		border-radius: 8px;
		width: 100%;
		background: rgba(255, 255, 255, 0.1);
		box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
		backdrop-filter: blur(1000px);
		z-index: 3;
		&-group {
			display: flex;
			align-items: center;
			column-gap: 20px;
		}
		&-more:hover {
			background: rgba(255, 255, 255, 0.1) !important;
			box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13) !important;
			backdrop-filter: blur(1000px) !important;
		}
		&-more {
			display: flex;
			align-items: center;
			column-gap: 5px;
			font-weight: 400 !important;
			padding: 2px 5px !important;
		}
		&-city {
			display: flex;
			column-gap: 5px;
			align-items: center;
		}
		&-top {
			border-radius: 8px;
			height: 300px;
			position: relative;
		}
		&-cover {
			display: flex;
			align-items: center;
			column-gap: 10px;
			padding: 8px;
			border: none;
			position: absolute;
			top: 30px;
			right: 30px;
			background: rgba(255, 255, 255, 0.1);
			box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
			backdrop-filter: blur(2px);
			border-radius: 8px;
		}
		&-bottom {
			background: rgba(255, 255, 255, 0.1);
			box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
			backdrop-filter: blur(1000px);
			border-radius: 8px;
			display: flex;
			justify-content: space-between;
			align-items: start;
			padding: 20px 16px 60px 200px;
			position: relative;
		}
		&-avatar {
			position: absolute;
			top: -50%;
			left: 30px;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
			border: 5px solid rgba(255, 255, 255, 0.1);
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		&-name {
			font-size: 21px;
			font-weight: 700;
		}
		&-about {
			color: #0050b3;
			display: flex;
			align-items: start;
			column-gap: 5px;
			span {
				color: #0050b3;
			}
			&:hover {
				column-gap: 10px;
			}
		}
		&-change {
			padding: 7px;
			background: rgba(255, 255, 255, 0.1);
			box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
			backdrop-filter: blur(1000px);
			border-radius: 8px;
			border: none;
		}
	}
	&__photos {
		width: 100%;
		background: rgba(255, 255, 255, 0.1);
		box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.13);
		backdrop-filter: blur(2px);
		border-radius: 8px;
		padding: 30px;
		&-title {
			font-size: 20px;
			margin-bottom: 20px;
		}
		&-top {
			display: flex;
			justify-content: space-between;
			border-bottom: 2px solid rgba(255, 255, 255, 0.1);
			align-items: center;
		}
		&-btns {
			display: flex;
			column-gap: 15px;
			justify-content: center;
		}
		&-btn {
			font-size: 15px !important;
			width: 50%;
		}
		&-empty {
			padding: 30px 0;
			text-align: center;
		}
		&-image {
			display: flex;
			flex-direction: column;
			&-close {
				position: absolute;
				top: 5px;
				right: 5px;
			}
			&-bottom {
				display: flex;
				justify-content: center;
			}
			&-addPhoto {
				margin-bottom: 15px;
			}
			&-block {
				max-width: 200px;
				margin: 10px;

				position: relative;
			}
			&-img {
				width: 100%;
				object-fit: cover;
				aspect-ratio: 1 / 1;
			}
			&-field {
				width: 100%;
				border-top-left-radius: 0 !important;
				border-top-right-radius: 0 !important;
			}
		}
		&-row {
			display: flex;
			flex-wrap: wrap;
			gap: 2px;
			padding: 15px 0;
			&-img {
				border-radius: 8px;
				object-fit: cover;
				aspect-ratio: 1 / 1;
			}
			&-item {
				position: relative;

				width: calc(33.33333% - 3px);
			}
			&-tools {
				position: absolute;
				top: 5px;
				right: 5px;
				background-color: #222222;
				padding: 5px 10px;
				border-radius: 30px;
				display: flex;
				column-gap: 5px;
			}
			&-tool {
				cursor: pointer;
				transition: 0.5s;
				fill: $grey;
				font-size: 20px;
				&:hover {
					fill: $blue;
				}
			}
		}
	}
}
